doctype html
html
  head
    title Dance
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src='/static/images/img1.png')
                | TDA
            li #[a(href = '/') Home]
            li #[a(href = '/') About]
            li #[a(href = '/') ContactUs]
            li #[a(href = '/') About]   

    block content
    footer#footer
        copyright © 2021 adnanDanceAcadmey.All rights reserved      
