doctype html
html
  head
    title Dance
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            div#logo
                img(src='/static/images/img1.png')
                | TDA
            li #[a(href = '/') Home]
            li #[a(href = '/') About]
            li #[a(href = '/') ContactUs]
            li #[a(href = '/') About]

    section#intro
        div Welcome to adnan dance acadmey
        div.small   Come let's dance together.
    section#mission
        h2 Our Mission
        div.card
            h3 Wedding Dance
             div.card-box
                div.cardimg
                    img(src='/static/images/img3.png')
                div.card-content
                    p Best dance acadmey    
        div.card
            h3 Belly Dance
             div.card-box
                div.cardimg
                    img(src='/static/images/img4.png')
                div.card-content
                    p Best dance acadmey    
        div.card
            h3 Belly Dance
             div.card-box
                div.cardimg
                    img(src='/static/images/img2.png')
                div.card-content
                    p Best dance acadmey                
    section#info
        h2 Our Sponsers
    footer#footer
        | All rights reserved                            
    script
      include ../static/index.js