doctype html
html
  head
    title Dance
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            li #[a(href = '/') Home]
            li #[a(href = '/') About]
            li #[a(href = '/') ContactUs]
            li #[a(href = '/') About]

    section#intro
        |   sections for images 
    section#info
        |   section for info
    footer#footer
        | footer                            
    script
      include ../static/index.js